.foot {
    background-color:#{$black} !important;

    .icon {
        background-color: $white;

    }

    #color {
        color: #B2B3CF;
    }

    h2 {
        font-size: 20px;
    }

    @media (min-width:1400px) {
        h2 {
            font-size: 24px;
        }
    }
}