.LastestNewsandResources {
    .end-0 {
        right: 15px !important;
    }

    .bottom-0 {
        bottom: 10px !important;
    }

}

@media (max-width:1400px){
    .LastestNewsandResources {
    .end-0 {
        right: 15px !important;
    }

    .bottom-0 {
        bottom: 12px !important;
    }

    h6{
        font-size: 14px;
    }
    p{
        font-size: 12px;
    }

}

}
