.LastestNewsandResources {
    .end-0 {
        right: 7px !important;
    }

    .bottom-0 {
        bottom: 10px !important;
    }

}

@media(max-width:576px) {
    .max {
        max-width: 100%;
    }
}